/* работа на чекбоксом */
.checkbox__input {
    position: absolute;
  
    white-space: nowrap;
    width: 1px;
    height: 1px;
  
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .checkbox__span {
    height: 16px;
    margin-right: 7px;
  }
  
  .checkbox__input:checked + .checkbox__span {
    fill: rgba(117, 117, 117, 0);
    background-image: url(../images/check-ok.svg);
    background-size: contain;
    background-origin: border-box;
  
    transition: fill var(--animation), background-image var(--animation);
  }
  
  /* рамка при фокусе изменение цвета */
  .checkbox__input:focus + .checkbox__span {
    fill: var(--accent-color);
    transition: fill var(--animation);
  }
  
  .form__data.checkbox {
    margin-top: 25px;
  }
  
  .checkbox__label {
    display: flex;
    margin-left: 13px;
    color: var(--txt-color);
    align-items: center;
  }
  
  .checkbox__link {
    color: var(--accent-color);
    text-decoration: underline var(--accent-color);
    margin-left: 5px;
  }
  /*конец  работы над чекбоксом */